<h2>Welcome to</h2>
<h1>Hogwarts: A Database</h1>
<img class= "hogwarts center" src="https://images.ctfassets.net/bxd3o8b291gf/2phT56DSucuUqU6Icm6mCe/b1fd2811691e41ffd1622a07eb528604/HogwartsCastle_WB_F4_HogwartsThroughTheTrees_Illust_100615_Land.jpg?w=1200" alt="Hogwarts">
