<form class = "table form" action="/students/" method="post">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name">
  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name">
  <label for="age">Age</label>
  <input type="number" name="age" id="age">
  <select name="house_id">
    <%for house in @houses%>
      <option value="<%=house.id%>"><%=house.name%></option>
    <%end%>
  </select>
  <input type="submit" name="Add Student" value="Add Student">
</form>
